<!-- templates/product.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ game.name }}
</h1>

<div class="container bootdey">
<div class="col-md-12">
<section class="panel">
      <div class="panel-body">
          <div class="col-md-6">
              <div class="pro-img-details">
                  <img src="{{ game.header_image_url }}" alt="">
              </div>
          </div>
          <div class="col-md-6">
              <h4 class="pro-d-title">
                  <a href="#" class="">
                      {{ game.name }}
                  </a>
              </h4>
              {{ game.description | safe }}
              <br>
              <div class="product_meta">
                  <span class="tagged_as"><strong>Genres:</strong>
                    <br>
                    {% for genre in game.genres %}
                      <a rel="tag" href="#">{{ genre.name }}</a><br>
                    {% endfor %}
                  </span>
              </div>
              <p></p>
              <strong>Reviews:</strong>
              <div class="container">
                  <div style="float: left; margin-right: 1em;">Positive reviews: {{ game.num_of_positive_reviews }}</div>
                  <div style="float: right; margin-right: 1em;">Negative reviews: {{ game.num_of_negative_reviews }}</div>
                  <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" style="width: {{ game.num_of_positive_reviews/(game.num_of_negative_reviews+game.num_of_positive_reviews)*100 }}%"></div>
                      <div class="progress-bar bg-danger" role="progressbar" style="width: {{ game.num_of_negative_reviews/(game.num_of_negative_reviews+game.num_of_positive_reviews)*100 }}%"></div>
                  </div>
              </div>
              <p></p>
              <div class="m-bot15"> <strong>Price : </strong> <span class="pro-price">
                  {% if game.price == 0.0 %}
                      Free
                  {% else %}
                      {{ game.price / 100 }} {{ game.price_currency }}
                  {% endif %}
              </span></div>
              <p></p>
              <p>
                  <a class="btn btn-round btn-danger" role="button" href="/product_steam_page/{{ game.app_id }}"> View on Steam </a>
              </p>
          </div>
      </div>
</section>
</div>
</div>

{% endblock %}